<a href="https://colab.research.google.com/github/umeedesehar/Course10/blob/main/For_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **For Loop**

# Practice

In [ ]:
# Q 1: Print numbers from 1 to 10
# Q 2: Print numbers from 10 to 1
# Q 3: Print multiplication of a number n
# Q 4: Print elements of the following list using loop num = [1,4,9,16,25,36,49,64,81,100]
# Q 5: Search for a number x in this tuple using loop num = (1,4,9,16,25,36,49,64,81,100)
# Q 6: Use break and continue in while loop.

In [ ]:
# Print numbers from 1-5
nums = [1,2,3,4,5]
for i in nums:
  print(i)

In [9]:
#searching a specific number
num = [1,4,9,16,25,36,49,64,81,100,49]
x = 49
index = 0
for i in num:
  if(i==x):
    print("number found at idex" , index)
  index += 1

number found at idex 6
number found at idex 10

In [ ]:
# Q 1: Print numbers from 1 to 10

### Solution 1

In [ ]:
for i in range(1,11):
  print(i)

### Q 2: Print numbers from 10 to 1

### Solution 2

In [ ]:
for i in range(10 , 0, -1):
  print(i)

### Q 3: Print multiplication of a number n

### Solution 3

In [ ]:
# Solution 1
for i in range(3, 33,3):
  print(i)
# Solution 2
n = int(input("Enter number:"))
t = 1
for i in range(1,11):
  print(n, "x", t, "=" ,n*i)
  t += 1

[link text](https://)### Q 4: Print elements of the following list using loop num = [1,4,9,16,25,36,49,64,81,100]

### Q 4: Find the sum of first n numbers

### Solution 4

In [ ]:
n = 5
sum = 0
for i in range(1,n+1):
  sum = sum + i
print("Sum of", n, "=",sum)

### Q 5: Find factorial of first n numbers

### Solution 5

In [ ]:
n = 5 # factorial multiplication of all 1-5 numbers
fact = 1 # this must b other than 0 or your answer will always be 0
for i in range (1, n+1):
  fact *= i
print("Factorial", fact)

### Q 6: Use pass in for loop

### Solution 6

In [17]:
for i in range(5):
  pass
print("Pass statement will do nothing it is use to edit in future code")

Pass statement will do nothing it is use to edit in future code

### Continue

### Solution 6

In [ ]:
i = 1
while i <= 10:
    if(i == 3):
       i +=1
       continue #skip
    print(i)
    i += 1

1
2
4
5
6
7
8
9
10